@import ".cache/wal/colors-waybar.css";

* {
  font-family: "NotoSans", monospace;
  font-size: 16px;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all: unset;
  border-radius: 16px 16px 0px 0px;
  background-color: alpha(@background, 0.65);
}

#inner-box {
  margin: 0em;
  padding: 0em;
  border: none;
}

#outer-box {
  border: none;
}

#scroll {
  padding: 0em 0em 0em 0em;
  border: none;
  overflow: hidden;
}

#input {
  all: unset;
  font-size: 0.85em;
  padding: 1rem;
  border: none;
  outline: none;
  color: @text;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
  border-radius: 16px 16px 0px 0px;
  background-color: alpha(@color1, 0.5);
}

#input image {
  border: none;
  color: @text;
  padding-right: 0.2em;
}

#input * {
  border: none;
  outline: none;
  border-radius: 16px 16px 0px 0px;
}

#input:focus {
  outline: none;
  border: none;
}

#text {
  border: none;
  color: @text;
  outline: none;
}

#entry {
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 6px 6px;
}

#entry #text {
  font-size: 0.85em;
  margin-left: 0.5em;
}

#entry arrow {
  border: none;
  color: @text;
}

#entry:selected {
  border: none;
  background-color: alpha(@color1, 0.5);
}

#entry:selected #text {
  color: @text;
}

#entry:drop(active) {
  background-color: #000000;
}

#entry:last-child {
  margin-bottom: 0;
}

#entry:last-child:selected {
  margin-bottom: 0;
}
