* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
}
window#waybar {
  background: alpha(rgb(24, 24, 24), 0.7);
  border-radius: 20px;
  margin: 0px 100px 0px 100px;
}
.modules-left {
  padding: 0px;
  margin: 6px 0px 6px 6px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
}
.modules-center {
  padding: 7px;
  margin: 6px 0px 6px 0px;
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.modules-right {
  padding: 0px;
  margin: 6px 6px 6px 0px;
}
tooltip {
  border-radius: 7px;
  background: alpha(rgb(24, 24, 24), 0.7);
  color: rgba(245, 245, 245, 0.95);
}
#workspaces {
  padding: 0px 5px;
}
#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(white, 0.4);
  transition: all 0.2s ease;
}
#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
#workspaces button.active {
  color: #aaaaaa;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
#workspaces button.empty.active {
  color: #aaaaaa;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#clock,
#custom-notification,
#idle_inhibitor,
#custom-colorpicker,
#custom-clipboard,
#pulseaudio,
#bluetooth,
#network,
#battery {
  margin: 1px;
  padding: 0px 15px 0 15px;
  color: rgba(245, 245, 245, 0.95);
}
#clock:hover,
#custom-notification:hover,
#idle_inhibitor:hover,
#custom-colorpicker:hover,
#custom-clipboard:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover {
  transition: all 0.2s ease;
  color: rgba(128, 128, 128, 0.65);
}
#custom-notification {
  padding: 0px 18px 0px 12px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
}
#clock {
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
}

#tray {
  margin: 1px;
  padding: 0px 15px 0px 15px;
  transition: all 0.2s ease;
  color: rgba(51, 51, 51, 0.95);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
}

#tray menu {
  background: alpha(rgb(24, 24, 24), 0.5);
  color: rgba(51, 51, 51, 0.95);
  border-radius: 10px;
  padding: 6px;
}

#tray menu menuitem,
#tray menu * {
  background: transparent;
  padding: 0px 5px;
  transition: all 0.07s linear;
}
#tray menu menuitem:hover {
  color: #cccccc;
  transition: color 0.07s linear;
}

#tray menu separator {
  background: alpha(rgb(24, 24, 24), 0.5);
  padding: 0px 5px;
  transition: all 0.2s ease;
}

#1 {
  margin: 1px;
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
#custom-colorpicker {
  padding: 0px 5px 0px 6px;
}
#custom-clipboard {
  padding-right: 18px;
}

#connections {
  margin: 1px;
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
#network {
  padding: 0px 23px 0px 0px;
}

#pulseaudio {
  padding: 0px 15px 0px 15px;
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#battery {
  border-radius: 16px;
  background: alpha(rgb(24, 24, 24), 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
#battery.charging {
  color: #26a65b;
}
#battery.warning:not(.charging) {
  color: #ffbe61;
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
